@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .smooth {
    @apply transition-all duration-100 ease-in-out
  }

  .invisible-scroll::-webkit-scrollbar {
    @apply w-0 h-0 bg-transparent;
  }

  .invisible-scroll::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }

  .invisible-scroll::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
 
 
}
::-webkit-scrollbar {
	@apply w-[3px] bg-[#edf5ff];
}

::-webkit-scrollbar-thumb {
	@apply bg-[#1355FF] rounded-[50px];
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}


.custom-arrow{
	@apply absolute bottom-0 z-10 inline-flex items-center justify-center h-[50px] w-[50px] border border-[#98A2B3] bg-transparent;
}
.custom-prev {
  @apply left-1/2 -translate-x-[calc(50%-106px)]  md:right-0 md:left-auto md:translate-x-0 ;
}

.custom-next {
  @apply left-1/2 -translate-x-[calc(50%+106px)]  md:right-[66px] md:left-auto md:translate-x-0 rotate-180;
}

.serv-prev{
  @apply left-1/2 -translate-x-[calc(50%-106px)] -bottom-[82px] sm:-bottom-[90px] md:right-0 md:left-auto md:translate-x-0 2xl:right-[284px] md:-top-[110px]; 
}
.serv-next{
   @apply left-1/2 -translate-x-[calc(50%+106px)] -bottom-[82px] sm:-bottom-[90px] md:right-[66px] md:left-auto md:translate-x-0 2xl:right-[350px] md:-top-[110px] rotate-180;
}

.custom-arrow svg {
  width: 12px; 
  height: 15px; 
  stroke: #374049; 
  fill: #374049; 
}


.slider-prev{
  @apply left-1/2 -translate-x-[calc(50%-106px)] -bottom-[82px] lg:-bottom-[90px] lg:right-0 lg:left-auto lg:translate-x-0 2xl:right-[284px] lg:-top-[110px]; 
}
.slider-next{
   @apply left-1/2 -translate-x-[calc(50%+106px)] -bottom-[82px] lg:-bottom-[90px] lg:right-[66px] lg:left-auto lg:translate-x-0 2xl:right-[350px] lg:-top-[110px] rotate-180;
}